* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #edf1f4;
}

.calculator {
  position: relative;
  border-radius: 20px;
  padding: 20px;
  width: 340px;
}

.calculator .buttons {
  position: relative;
  display: grid;
}

.calculator .buttons #a {
  position: relative;
  grid-column: span 4;
  user-select: none;
  overflow: none;
  width: 100%;
  text-align: end;
  color: #5166d6;
  height: 100px;
  line-height: 100px;
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 0 20px;
  font-size: 2em;
  font-weight: 500;
}

.calculator .buttons input{
  position: relative;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: #454545;
  border: 2px solid #666;
  
}

.calculator .buttons input#clear {
  grid-column: span 2;
  background-color: #f44336;
  color: #fff;
  border: 2px solid #edf141;
}

.calculator .buttons input#plus {
  grid-row: span 2;
  background-color: #31a935;
  color: #fff;
  border: 2px solid #edf1f4;
}

.calculator .buttons input#equal{
  grid-column: span 3;
  background-color: #31a935;
  color: #fff;
  border: 2px solid #edf1f4;
}

.calculator .buttons input#clear:active,
.calculator .buttons input#plus:active,
.calculator .buttons input#equal:active {
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1),
              -5px -5px 10px #fff,
        inset 5px 5px 10px rgba(0,0,0,0.1);
}
